{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title%}
booking
{% endblock %}

{% block content%}
{% load static %}
<h1 class="text-center"> ABOUT US</h1>
<hr>
<div>
    <img src="{% static 'images/ASTER.jpeg'%}" class="d-block w-100" alt="...">
  </div>
  <div>
    <p>Aster Medcity Kochi, Ernakulam - Aster has its presence in Kochi (colonial name Cochin) – a vibrant city situated on the south-west coast of the Indian peninsula – in the form of Aster Medcity.

 

        In August 2014, we launched Aster Medcity hospital, a quaternary care multispeciality hospital in a campus spread across 40 acres of land in Kochi, Kerala, India, to be positioned as a key destination for medical value travel. Aster Medcity Kochi, Ernakulam has 670 bed capacity and houses state-of-the-art facilities with a multispeciality hospital and eight specialty centres for cardiac sciences, orthopaedics and rheumatology, neurosciences, nephrology and urology, oncology, gastroenterology and hepatology, women’s health, child and adolescent health.
        
         
        
        Aster hospital Kochi is one of the best multispeciality hospitals in Kochi, Ernakulam is equipped with advanced technology and equipment, including a complete digital integration system with auto pilot anaesthesia machine and isocentric C arm, the Da Vinci Robot for precision and accuracy in surgical procedures and 256-Slice CT providing the fastest and lowest radiation CT scan, and utilises robotic surgery. Aster Medcity Kochi, Ernakulam has received the Kerala State Pollution Control Award and the Dhanam Award for NRK Brand of the Year in 2016.
        
         
        
        According to CRISIL, India is fast emerging as a major medical tourist destination. India is highly competitive in terms of healthcare costs compared to developed countries, and is a particularly attractive destination for patients from South-East Asia and the MENA region.
        
         
        
        Aster Medcity multispeciality hospital in Kochi, Ernakulam, Kerala is readily accessible from major cities across India for domestic medical value travellers. We intend to increase our marketing efforts to attract medical value travellers to Aster Medcity hospital and our other hospitals from our targeted markets in the MENA region, especially the GCC states and India.
        <p>

        </div>

{% endblock %}