{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title%}
booking
{% endblock %}

{% block content%}

<div id="block-aster-content" class="block block--system block--system-main-block"> 
            <div class="owl--title--wrap"><h2>Our Location</h2>
            <div class="excerpt--cta--wrap row no-gutters align-items-center">
                <div class="owl--excerpt">
                    <div class="field field--name-field-excerpt field--type-text-long field--label-hidden field__item">
        <p>Aster DM Healthcare is an emerging healthcare provider in India, with an inherent emphasis on clinical excellence. 
            We provide primary, secondary, tertiary, and quaternary healthcare through our network of 13 hospitals across India.</p>
    </div></div>
 </div></div></div>



 
 <div class="text-overlay"><div class="address-highlight">Kochi, Kerala</div>
 <div class="hospital-name">Aster Medcity Kochi</div>
 <div class="hospital-address">Kuttisahib Road Cheranelloor, South Chittoor, Kochi, Kerala 682027</div>
 <div class="hospital-location"><a href="https://maps.app.goo.gl/rXtsBDuQp5RCQikC7" target="_blank">GET DIRECTIONS</a></div>
 <div class="contact-numbers">
    <div class="contact-label">Emergency contact</div> <a href="tel:155218">155218</a></div>
    <div class="count"><div class="count-container"><div class="bed-count count-icon"></div>
    <div class="count-wrapper"> <span class="count-number">670</span> <span class="count-label">Beds</span></div></div>
    <div class="count-container"><div class="doctor-count count-icon"></div><div class="count-wrapper">
         <span class="count-number">216</span>
         <span class="count-label">Doctors</span></div></div><div class="count-container"><div class="specialization-count count-icon"></div>
         <div class="count-wrapper"> <span class="count-number">38</span>
             <span class="count-label">Specializations</span></div></div></div>
        


<footer class="footer__wrapper " role="contentinfo"><div class="container"><div class="footer__top"><div class="region region--footer-top-first">


   
        <nav role="navigation" aria-labelledby="block-centres-of-excellence-menu-menu" id="block-centres-of-excellence-menu"><h2 id="block-centres-of-excellence-menu-menu">Multispeciality</h2>
            <ul class="menu"><li class="menu__item"> Anaesthesiology</li>
   <li class="menu__item"> Dentistry</li>
   <li class="menu__item"> Dermatology</li>
   <li class="menu__item">ENT And Head &amp; Neck Surgery</li><li class="menu__item">  Emergency Medicine</li>
   <li class="menu__item">Endocrinology &amp; Diabetology</li>
    <li class="menu__item"> IVF &amp; Fertility</li>
    <li class="menu__item"> Internal Medicine</li>
    <li class="menu__item"> Nephrology</li>
    <li class="menu__item"> Nutrition &amp; Dietetic</a></li>
    <li class="menu__item"> Ophthalmology</li>
    <li class="menu__item"> Pain &amp; Palliative Medicine</li>
    <li class="menu__item"> Physical Medicine &amp; Rehabilitation</li>
    <li class="menu__item"> Plastic Reconstructive &amp; Aesthetic Surgery</li>
    <li class="menu__item"> Psychiatry &amp; Counselling Services</li>
    <li class="menu__item"> Rheumatology</li>
    <li class="menu__item"> Urology</li></ul> </nav></div>
    <div class="region region--footer-top-third"> 
        <nav role="navigation" aria-labelledby="block-multispeciality-menu-menu" id="block-multispeciality-menu"><h2 id="block-multispeciality-menu-menu">Aster Centres Of Excellence</h2>
        <ul class="menu"><li class="menu__item"> Cardiac Sciences</li>
            <li class="menu__item">Neuro Sciences</li><li class="menu__item"> Obstetrics and Gynaecology</a></li><li class="menu__item"> Oncology</li><li class="menu__item"> Orthopaedics</li>
            <li class="menu__item"> Paediatrics &amp; Neonatology</a></li><li class="menu__item"> Pulmonology &amp; Critical Care</li></ul> </nav>
     <nav role="navigation" aria-labelledby="block-patient-care-menu-menu" id="block-patient-care-menu"><h2 id="block-patient-care-menu-menu">Patient Care</h2>

        
        <li class="menu__item"> <a href="{% url 'booking' %}" target="_blank">Book an Appointment</a></li></ul> </nav></div>
        
          
 
        

<div class="field field--name-body field--type-text-with-summary field--label-hidden field__item"><p>© 2024 Aster Hospitals, Inc. All rights reserved</p></div></div>
        <nav role="navigation" aria-labelledby="block-footer-left-menu-menu" id="block-footer-left-menu"><h2 class="visually-hidden" id="block-footer-left-menu-menu">Footer Left Menu</h2>
            <ul class="menu">
             
                 <li class="menu__item"> <a href="https://maps.app.goo.gl/rXtsBDuQp5RCQikC7" target="_blank" data-drupal-link-system-path="node/1653">Sitemap</a></li></ul> </nav></div>
                 <div class="region region--footer-bottom-right"><div id="block-footer-social-icons--2" class="block block--block-content block--block-contentbc515695-5e70-44b6-aa18-aee1efda1daf"><div class="field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><span>Follow Us</span></p><div class="social-icon-container"><div class="social-icon"><a class="facebook" href="https://www.facebook.com/AsterHealthcare/" target="_blank">facebook</a></div><div class="social-icon"><a class="instagram" href="https://www.instagram.com/asterhealthcare/" target="_blank">instagram</a></div><div class="social-icon"><a class="youtube" href="https://www.youtube.com/channel/UCstvt14czVBR1MVUQtnzEKA" target="_blank">youtube</a></div>
            <div class="social-icon"><a class="linkedin" href="https://www.linkedin.com/company/asterdmhealthcare" target="_blank">linkedin</a></div><div class="social-icon"><a class="twitter" href="https://twitter.com/ASTERHealthcare" target="_blank">twitter</a></div></div></div></div></div></div></div> </footer>


{% endblock %}
